<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flappy Bird</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flappy.css') }}">
</head>

<body>
    <style>
        body {
            background-image: url("{{ url_for('static', filename='images/flappy-back.jpg') }}");
            background-size: cover;
            overflow: hidden;
        }
    </style>
    <div class="game-container">
        <div class="canvas-wrapper">
            <canvas id="board"></canvas>
        </div>
        <div class="controls-container">
            <button class="btn-p">Play Again</button>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/flappy.js') }}"></script>
</body>

</html>